* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Assest-services-hero {
    background-image: url("../Assets/images/slider2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    /* min-height: 60vh; */
    height: 570px;
}


.Assest-services-hero h1 {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 58px;
    line-height: 1;
    letter-spacing: -1px;
    text-transform: uppercase;
    text-align: center;
    color: #e6e7e8;
    font-family: "SF nexa-bold", Arial, sans-serif;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    padding: 0 20px;
}

.Assest-services-hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

/* Project Section Secon Css */
.Assest-services-desc {
    background-color: #efefef;
    padding: 35px 0;
}

.Assest-services-desc .Assest-text-wrp {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.Assest-services-desc .Assest-text-wrp h2 {
    font-size: 35px;
    line-height: 1.3;
    letter-spacing: 5;
    word-spacing: 5px;
    color: #013f4e;
    font-family: "SF nexa-bold", Arial, sans-serif;
    text-transform: uppercase;
}

.Assest-services-desc .Assest-text-wrp p {
    text-align: justify;
    line-height: 1.65;
    /* letter-spacing: .125px; */
    font-size: 16px;
    font-family: "SF nexa-light", Arial, sans-serif;
}

/* Add Media Quries Here */
@media (max-width: 1023px) {
    .Assest-services-hero h1 {
        font-size: 50px;
    }
}

@media (max-width: 767px) {
    .Assest-services-desc .Assest-text-wrp p {
        font-size: 14px;
    }

    .Assest-services-hero h1 {
        font-size: 40px;
    }

    .Assest-services-desc .Assest-text-wrp h2 {
        font-size: 30px;
    }

    .Assest-services-hero {
        height: 450px;
    }
}

@media (max-width: 550px) {
    .Assest-services-hero h1 {
        font-size: 35px;
    }

    .Assest-services-desc .Assest-text-wrp h2 {
        font-size: 22px;
    }
}